.Layout {
    margin-top: -10px;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 27% 0% 68% 5%;
    overflow: auto;
    align-items: stretch;
    justify-items: stretch;
}

header {
    overflow: auto;
    background-color: black;
}

main {
    overflow: auto;
}