.AllCouponCard {
	display: flex;
	flex-direction: column;
	border: 2px dashed black;
	font-size: large;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	box-shadow: 10px 10px 10px;
	text-align: center;
	width: 350px;
	color: rgb(95, 93, 93);
	background-color: #d6e8ee;
	line-height: 20%;
}

img {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin: 0 auto;
	border-radius: 7px;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	width: 250px;
	display: flex;
	align-items: center;
}

p {
	font-style: italic;
	font-size: smaller;
}

.Scissors {
	width: 40px;
	height: 20px;
	margin-top: -20px;
}

.Category {
	font-size: larger;
}