.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 20px;
    padding: 10px;
    flex-direction: column;
    flex-direction: row;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    font-family: Garamond, serif;
    font-size: xx-large;
    justify-content: center;


}